build
src/*
!src/layers.txt
conf/auto.conf
conf/sanity_info
conf/site.conf
pseudodone
git_config
subversion_config/
package-depends.dot
pn-depends.dot
task-depends.dot
tags
bitbake.lock
cache
downloads
sstate-cache
tmp-eglibc
